.header

  .header-bg
    background-image url(/images/icon_white.png)
    height 20px
    width 20px
    background-size cover
    background-repeat no-repeat
    background-position center
    margin-top 13px

  .user-info
    color white
    margin-top 15px

    span
      cursor pointer
