.login

  .initial-login, .change-password
    width 256px
    position absolute
    left 50%
    top 15%
    margin-left -123px

    .field
      margin-bottom 10px

      &.button
        margin-top 20px

      > div
        width 100%
