.note
  
  .text-edit
    position absolute !important
    width calc(100% - 10px) !important
    height calc(100% - 100px) !important
    left 5px !important

    > div
      overflow auto

      > textarea
        min-height calc(100% - 100px) !important


  .button
    position absolute !important
    bottom 0px
    width 50%

    &.save
      right 0px
