.spinner
  position fixed
  top 0px
  bottom 0px
  left 0px
  right 0px
  z-index 10000
  background-color rgba(0,0,0,0.2)

  > div
    top 35%
    position absolute
    color white
    text-align center
    width 100%
    font-family Roboto, sans-serif
    font-size 30px
